
section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110vh;
}

ul{
    padding-left: 30%;
}

li{
    display: inline;
    font-family: Monserrat_Bold;
    font-size: small;
}

li a {
    color: #ffffff;
    text-align: center;
    padding-left: 1em;
    text-decoration: none;
  }

li a:hover {
    color: #e91e63
}

li img{
    width: 3%;
}

#seccion1{
    justify-content: center;
    align-items: center;   
}

#seccion2{
    justify-content: center;
    align-items: center;
}

.planecontent1{
   width: 100%;
   height: 100%;
   background-image: url('../../../assets/img/Enmascarar_grupo_12.jpg');
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: cover;
   display: flex;
   flex-direction: column;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.slogan{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: end;
    color: #ffffff;

}

.slogan h3{
    font-size: 1.5rem;
    font-family: Monserrat_Regular;
    margin: 0;
}

.slogan h1{
    font-size: 3.5rem;
    font-family: Monserrat_Bold;
    margin: 0;
}


.img_logo{
    width: 10%;
}

.planecontent2{
   width: 100%;
   height: 100%;
   background-image: url('../../../assets/img/Enmascarar_grupo_14.jpg');
   background-repeat: no-repeat;
   background-position: left bottom;
   background-size: cover;
}

.gota{
    margin-top: 5%;
    height: 20%;
    width: 20%;
    background-image: url('../../../assets/img/Rectangulo_2501.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.form_area{
    margin-left: 1%;
    margin-top: 1%;
    height: 50%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 0 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.buttons_container{
    padding: 2% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: aqua; */
}

.buttons_container mat-icon{
    background-color: #e91e63;
    height: 7vmin;
    width: 7vmin;
    font-size: 5.5vmin;
    border-radius: 100%;
    
}

.buttons_container a{
    text-align: center;
    padding-right: 1%;
    color: #ffffff;
}
